@mixin h1title() {
  font-size: 220%;
  font-weight: 500;
}

@mixin h2title() {
  font-size: 190%;
  font-weight: 500;
}

@mixin h3title() {
  font-size: 160%;
  font-weight: 500;
}

@mixin h4title() {
  font-size: 150%;
  font-weight: 500;
}

.costing-wrapper {
  grid-template-areas: "pods pods cart" "graph graph cart" "filters filters cart";
  grid-template-columns: repeat(3, 1fr);

  h1 {
    @include h1title;
  }
  h2 {
    @include h2title;
  }
  h3 {
    @include h3title;
  }
  h4 {
    @include h4title;
  }

  .divider {
    display: block;
    height: 1px;
    background-color: $new-grey-alt;
    margin: 7px 0;
  }
}

.pods {
  display: flex;
  grid-area: pods;

  .icon-wrapper {
    margin-bottom: 15px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--container-greyed-out);
      height: 45px;
      width: 45px;
      border-radius: 11px;

      img {
        max-height: 20px;
        max-width: 20px;
      }
    }

    .arrow-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border-radius: 11px;
      background-color: var(--background-stroke);

      i {
        font-size: 16px;

        &.asc {
           color: var(--positive-default);
        }

        &.desc {
          color: var(--negative-default);
        }
      }
    }
  }

  .content-wrapper {
    margin-top: 35px;

    span {
      color: var(--typography-greyed-out);
      font-size: 150%;
    }

    p {
      margin-top: 10px;
      font-size: 200%;
    }
  }
}

.costing-cart {
  grid-area: cart;

  .summary-item {
    padding: 5px 0 0;

    .total {
      text-align: right;
    }
  }

  .grand-total {
    text-align: right;
    border-top: 1px solid $new-grey-alt;
    padding-top: 10px;
    margin-top: 10px;

    h1, h3 {
      display: inline-block;
    }

  h3 {
    margin-right: 1em;
    color: $new-grey-alt;
  }
  h1 {
    font-size: 260%;
  }
  }
}

.graph-wrapper {
  grid-area: graph;
}

.filters-wrapper {
  grid-area: filters;
}