
.document-filters {
  justify-content: space-between;
  .generic-search {
    min-width: 49%;
  }
  .select-list {
    margin-left: 10px;
  }
}  

.transparent {
  background-color: transparent;
  padding: 15px 0;
}

.documents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  .grid-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 17vw;
    overflow: hidden;
    position: relative;
    transition: transform 200ms ease;
    color: #212228;
    text-decoration: none;

    &:hover {
      transform: scale(105%) translateY(5px) 
    }

    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      width: 75%;
      height: auto;
      margin-bottom: 10px;
    }

    .details-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-self: stretch;
      min-height: 34px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;

      }

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden
      }
    }

    .meta {
      align-self: stretch;
      font-size: 12px;
      color: $button-grey;
    }
  }
}

.dnd-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  pointer-events: none;


  h3 {
    color: #ffffff;
    font-size: 24px;
  }
}

.library-button {
  margin-left: 10px;
  padding: 5px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  text-align: center;
  transition: all 200ms ease;

  &:disabled {
    opacity: 0.33;
  }

  img {
    width: auto;
    height: 22px;
  }

  i {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto
  }
}

.selected-message {
  margin-left: 10px;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.dl-row {
  padding: 8px 0;
  transition: transform 200ms ease;

    &:hover {
      transform: scale(102%);
    }

  td {
    vertical-align: middle;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.dl-selection-container {

  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 5px;

}
.dl-selection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #939393;
  margin-top: auto;

  &.grid {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: all;
  }

  .selection-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #16a6e2;
  }
}