
.document-filters {
  .select-list {
    margin-left: 10px;
  }
}  

.transparent {
  background-color: transparent;
  padding: 15px 0;
}

.documents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;

  .grid-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 17vw;
    overflow: hidden;

    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      width: 75%;
      height: auto;
      margin-bottom: 10px;
    }

    .details-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-self: stretch;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }

    .meta {
      align-self: stretch;
      font-size: 12px;
      color: $button-grey;
    }
  }
}

.dnd-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  pointer-events: none;


  h3 {
    color: #ffffff;
    font-size: 24px;
  }
}