.measurement-fields-grid {
    display: grid;
    grid-template-columns: 2fr 120px 50px;
    width: 100%;
    align-items: center;

    .form-field {
        min-height: 0;

        .title {
            margin-bottom: 0;
        }
    }
}