// multi filters
.multi-filters {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .item {
        &:first-child {
            p {
                padding-left: 0;
            }
        }
    }

    p {
        text-align: right;
        padding-left: 20px;
        padding-right: 10px;
    }
    .react-datepicker-wrapper {
        width: 100%;
        height: 100%;
        input {
            width: 100%;
            height: 100%;
            font-size: 140%;
            padding: 7.5px 10px;
            margin-right: 10px;
        }
    }
    i {
        font-size: 140%;
    }
}

//area filter
.area-filter {
    position: absolute;
    top: -1px;
    right: 0;
    width: 120px;

    .icon {
        position: absolute;
        @include vertical-center;
        z-index: 1;
        left: 5px;
        font-size: 120%;
        color: #999;
    }

    input {
        width: 100%;
        padding: 3px 5px 3px 25px;
        font-size: 140%;
        @include ubuntu;
        background-color: var(--input-secondary);
        border-radius: 21px;
        border: none;
        color: var(--typography-default);
    }
    
    input::placeholder {
        color: var(--typography-search);
    }
}

// filter
.filter {
    float: left;
    width: 100%;
    padding-right: 10px;

    .title {
        width: 95px;
        padding-top: 5px;
    }

    .custom-dropdown {
        width: calc(100% - 100px);
    }
}

// map filters
.map-filters {
    .block-heading {
        margin-bottom: 15px;
    }
    //pin amounts
    .pin-amounts {
        float: right;
        .pin {
            float: right;
            width: 65px;

            img,
            p {
                float: right;
            }

            img {
                width: 22px;

                &.all-pins {
                    width: auto;
                    height: 36px;
                }
            }

            p {
                padding: 5px 7px 0 0;
                font-size: 140%;
                @include ubuntu-medium;
            }
        }
    }
}

// levels filter
.levels-filter {
    .form-field {
        opacity: 0.2;
        &.active {
            opacity: 1;
        }
    }
}

// filter row
.filter-row {
    margin-bottom: 20px;
}

// button multi dropdown list
.button-dropdown-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    z-index: 999;

    .list-content {
        width: 100%;
        max-height: 400px;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--background-container);
        border: 1px solid var(--background-stroke);
        overflow-y: auto;
    }

    .triangle {
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: var(--background-container);
        border: 1px solid var(--background-stroke);
        border-radius: 4px;
        z-index: 1;
        transform: rotate(45deg);

        &.left {
            left: 25px;
        }

        &.right {
            right: 25px;
        }

        &.top {
            top: -11px;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }

        &.bottom {
            bottom: -11px;
            border-top-color: transparent;
            border-left-color: transparent;
        }
    }

    .dropdown-list-button {
        z-index: 1;
    }
}

//tooltip filters
.tooltip-filters {
    position: absolute;
    top: 30px;
    border-radius: 5px;
    font-size: 130%;
    width: 75%;
    background-color: var(--background-container);
    z-index: 25;
    border: 1px solid var(--background-stroke);
    
    &.static-width {
        width: 300px;
    }
  
    &.right {
        top: 45px;
        right: 0;
    }
  
    .filter-item {
        padding: 7.5px 15px;
        border-bottom: 1px solid var(--background-stroke);
  
        p{
            font-size: 120%;
        }
    }
  
    button {
        background-color: transparent;
    
        &:hover > .far {
            color: var(--typography-greyed-out);
    
        }
    
        .far {
            font-size: 110%;
            color: var(--typography-default);
            transition: all 0.3s ease-out;
            &.active {
            transform: rotate(-180deg);
            }
        }
    }
  
    .tooltip-filter-options {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: var(--background-container);
        border: 1px solid var(--background-stroke);
        z-index: 2;
        width: 100%;
        max-height: 300px;
        padding: 10px;
        border-radius: 5px;
        overflow-y: scroll;
        transition: visibility 0s, opacity 0.1s linear;
    
        .search-container {
            margin-bottom: 15px;
        }
    
        .options-wrapper {
            .option {
                margin-bottom: 15px;
        
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    
        &.active {
            visibility: visible;
            opacity: 1;
        }

        &.full-option-height {
            max-height: none;
        }
    
        input {
            font-size: 120%;
        }
    }
  
    .slider-container {
        padding: 10px;
    }
  }