/* -- Styles for IE11 compatibility placeholder -- */
#ie-placeholder {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ie-container {
  text-align: center;
  font-size: 1.5rem;
  max-width: 30em;
}

img {
  margin-bottom: 1em;
}

.ie-container h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem
}

.ie-container p {
  margin-bottom: 1em
}

a, a:active, a:visited {
  color: inherit
}