// large heading with logo
.bolster-plus-heading {
    .title {
        @include ubuntu-medium;
        font-size: 32px;
    }

    .logo {
        margin-right: 15px;
    }

    .status-icon {
        margin-left: 15px;
        margin-top: 5px;
    }
}

// feature of plus (with check icon)
.bolster-plus-feature {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}