.content-area-editor {
    float: left;
    width: 100%;
    background-color: var(--background-container);
    border: 1px solid var(--background-stroke);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

.content-area {
    float: left;
    width: 100%;
    background-color: var(--background-container);
    border: 1px solid var(--background-stroke);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;

    &.no-border {
        border: 0px;
    }

    .heading {
        color: var(--typography-default);
    }

    p {
        @include ubuntu;
        font-size: 140%;
        strong {
            @include ubuntu-medium;
        }

        &.map-details {
            font-size: 120%;
        }
    }

    &.small-padding {
        padding: {
            top: 10px;
            bottom: 10px;
        }
    }

    &.no-horizontal-padding {
        padding: {
            left: 0;
            right: 0;
        }
    }

    &.disabled {
        background-color: grey;
    }

    .twitter {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-top: -9px;

        // .SandboxRoot {
        //     &.env-bp-min {
        //         .timeline-Tweet {
        //             padding: 0 10px !important;
        //         }
        //     }
        // }
    }

    .tab-container {
        position: absolute;
        top: 15px;
        right: 15px;
        margin-top: 0;
    }
}