// multi filters
.multi-filters {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .item {
        &:first-child {
            p {
                padding-left: 0;
            }
        }
    }

    p {
        text-align: right;
        padding-left: 20px;
        padding-right: 10px;
    }
    .react-datepicker-wrapper {
        width: 100%;
        height: 100%;
        input {
            width: 100%;
            height: 100%;
            font-size: 140%;
            padding: 7.5px 10px;
            margin-right: 10px;
        }
    }
    i {
        font-size: 140%;
    }
}

//area filter
.area-filter {
    position: absolute;
    top: -1px;
    right: 0;
    width: 120px;

    .icon {
        position: absolute;
        @include vertical-center;
        z-index: 1;
        left: 5px;
        font-size: 120%;
        color: #999;
    }

    input {
        width: 100%;
        padding: 3px 5px 3px 25px;
        font-size: 140%;
        @include ubuntu;
        background-color: $background-grey;
        border: none;
        @include rounded-all(3px);
    }
}

// filter
.filter {
    float: left;
    width: 100%;
    padding-right: 10px;

    .title {
        width: 95px;
        padding-top: 5px;
    }

    .custom-dropdown {
        width: calc(100% - 100px);
    }
}

// map filters
.map-filters {
    .block-heading {
        margin-bottom: 15px;
    }
    //pin amounts
    .pin-amounts {
        float: right;
        .pin {
            float: right;
            width: 65px;

            img,
            p {
                float: right;
            }

            img {
                width: 22px;

                &.all-pins {
                    width: auto;
                    height: 36px;
                }
            }

            p {
                padding: 5px 7px 0 0;
                font-size: 140%;
                @include ubuntu-medium;
            }
        }
    }
}

// levels filter
.levels-filter {
    .form-field {
        opacity: 0.2;
        &.active {
            opacity: 1;
        }
    }
}

// filter row
.filter-row {
    margin-bottom: 20px;
}

// button multi dropdown list
.button-dropdown-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    z-index: 999;

    .list-content {
        width: 100%;
        max-height: 500px;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--background-container);
        border: 1px solid var(--background-stroke);
        overflow-y: auto;
    }

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        float: none!important;
        width: 100%;
        margin: 0 0 5px 0 !important;
        padding: 5px 10px;
        background-color: transparent;
        color: #F9FAFA;
        text-align: left;
        border-radius: 20px;
        font-size: 15px;

        &:last-child {
            margin-bottom: 0!important;
        }

        &:hover {
            background-color: var(--hover-primary)
        }

        &.active {
            background-color: var(--primary-default);
        }
        
        .icon {
            margin-left: 15px;
            height: 8px;
            min-width: auto;

            path {
                stroke: #F9FAFA;
            }
        }
    }
}