.info-message {
  float: left;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--background-default);
  color: var(--typography-default);
  border-radius: 5px;

  &.warning {
    background-color: var(--negative-default);
  }

  &.error {
    background-color: var(--negative-default);
  }
}