// banner notification
.banner-notification-wrapper {
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-items: center;

    &.alerts {
        height: auto;
        padding: 6px 0;
    }

    & > .banner-text {
        color: white;
        font-size: 140%;
        margin-left: 5px;
        display: inline-flex;

        & > i {
            margin-top: 1px;
        }

        & > .banner-wysiwyg-text {
            margin-left: 5px;

            p, a, div, strong, em, u, span {
                font-size: 100%;
            }
            strong {
                font-weight: 500;
            }
            a {
                color: white;

            }
        }
    }

    & > .banner-dismiss {
        @include ubuntu;
        background: none;
        color: white;
        font-size: 140%;
        margin-left: auto;
    }
  
}