.tab-container {
  float: right;
  margin-top: -7px;

  button {
    float: right;
    padding: 10px 30px;
    @include ubuntu-medium;
    font-size: 150%;
    outline: none;
    margin-top: 0;
    margin-left: 0;
    color: var(--typography-greyed-out);
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    background: transparent;
    border-top: 1px solid var(--navigation-secondary);
    border-bottom: 1px solid var(--navigation-secondary);

    &.active {
      background-color: var(--navigation-secondary);
      color: var(--typography-default);
    }

    &.green {
      background: $green;
      color: white;
    }

    &:last-child {
      border-left: 1px solid var(--navigation-secondary);
      border-radius: 10px 0 0 10px;
    }

    &:first-child {
      border-right: 1px solid var(--navigation-secondary);
      border-radius: 0 10px 10px 0;
    }
  }

  &.no-breadcrumb {
    margin-top: 0;
  }

  &.left {
    float: left;

    .button {
      float: left;
    }
  }

  &.report-drawings-tabs {
    button {
      margin-top: 5px;
      margin-left: 5px;
      border-radius: 5px;
    }
  }
}