.tab-container {
  float: right;
  margin-top: -7px;

  button {
    float: right;
    padding: 5px 10px 6px;
    @include ubuntu-medium;
    font-size: 120%;
    outline: none;
    margin-top: 0;
    margin-left: 0;
    color: var(--typography-default);
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    background: var(--navigation-primary);
    border: 1px solid #c3c3c4;

    &.active {
      background-color: var(--navigation-secondary);
    }

    &.green {
      background: $green;
      color: white;
    }
  }

  &.no-breadcrumb {
    margin-top: 0;
  }

  &.left {
    float: left;

    .button {
      float: left;
    }
  }

  &.report-drawings-tabs {
    button {
      margin-top: 5px;
      margin-left: 5px;
      border-radius: 5px;
    }
  }
}