// generic bits of copy
.generic-text {
  margin-bottom: 15px;
  font-size: 140%;
  line-height: 1.5;

  &.intro-text {
    margin-bottom: 30px;
    margin-top: -10px;
  }

  &.total-text {
    padding: 0 10px;
    margin-bottom: 0;
  }

  a {
    @include ubuntu-medium;
    color: $body-text;
    text-decoration: underline;

    &.switched {
      color: var(--typography-default);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.small {
    font-size: 120%;
  }

  &.no-data {
    padding: 10px 15px;
    background-color: var(--background-default);
    text-align: center;
  }

  &.error {
    color: $red;
  }

  &.success {
    color: green;
  }

  &.in-form {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

// no data
.no-data {
  @include ubuntu-medium;
  font-size: 120%;

  &.centered {
    text-align: center;
    padding: {
      top: 17px;
      bottom: 17px;
    }
  }
}

// loading text
.loading-text {
  @include ubuntu;
  text-align: center;
  padding: 10px;

  p {
    font-size: 160%;
    margin-bottom: 10px;
  }

  i {
    font-size: 180%;
  }
}

//not available message
.not-available {
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0;

  &.w-img {
    p {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  p {
    width: 100%;
    font-size: 180%;
  }

  img {
    opacity: 0;
  }
}

// error message
.error-message {
  color: red;
  padding-left: 8px;
  pointer-events: none;
}