// wysiwyg
.wysiwyg {
    * {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol {
        width: 100%;
        @include ubuntu;
        list-style: decimal outside;
        padding-left: 19px;
        @include ubuntu-medium;
        font-size: 14px;
        
        ol {
            list-style: lower-alpha outside;
            font-size: 12px;
            @include ubuntu;
        }
    }

    ul {
        width: 100%;
        @include ubuntu;
        list-style: disc outside;
        padding-left: 19px;
        @include ubuntu-medium;
        font-size: 14px;
        
        ul {
            list-style: circle outside;
            font-size: 12px;
            @include ubuntu;
        }
    }
    h4 {
        font-size: 14px;
        width: 100%;
        @include ubuntu-medium;
        margin-bottom: 10px;
    }

    p {
        width: 100%;
        @include ubuntu;

        font-size: 12px;
        strong {
            @include ubuntu-medium;
        }
    }
    a {
        color: $red !important;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .generic-table {
        border: 1px solid #f5f5f5;
        th {
            padding-top: 10px;
            border-bottom: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            &:last-child {
                text-align: right;
                border-right: none;
            }
        }
        td {
            border-right: 1px solid #f5f5f5;
            &:last-child {
                border-right: none;
            }
        }
    }

    .image {
        max-width: 100%;
    }
}

// wysiwyg container
.wysiwyg-container {
    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 150%;
        font-weight: 600;
    }

    strong {
        font-size: 102%;
    }

    a {
        color: $red;
    }

    td {
        border: 1px solid #eee;
        padding: 3px;
    }

    ul {
        li {
            font-size: 100%;
        }
    }
}