@import "./variables.scss";

@media only screen and (max-width: 1024px) {
    //layout structure
    .container {
        &.full-container {
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
    #page-area {
        width: 100%;
    }

    //company admin header
    #page-header {
        height: 57px;

        .logo {
            width: 40%;
            float: none;
            display: block;
            margin: 0 auto;

            img {
                height: 40px;
            }
            a {
                padding: 3px 10px;
            }
        }

        .container {
            padding: 0;
        }

        .mobile-menu {
            float: left;
            padding: {
                top: 15px;
                bottom: 10px;
                left: 10px;
                right: 15px;
            }
            font-size: 180%;
        }

        .mobile-profile-menu {
            position: absolute;
            display: none;
            top: 100%;
            right: 0;
            background-color: $background-grey;
            width: 250px;
            z-index: 5000;
            &.visible {
                display: block;
            }

            .text {
                float: left;
                width: 100%;
                padding: 5px 15px;
                float: left;

                p {
                    @include ubuntu-medium;
                    font-size: 160%;
                }

                .email {
                    font-size: 140%;
                }
            }

            .account-area {
                width: 100%;
                height: 50px;
            }

            .mobile-notifications {
                float: left;
                width: 100%;
            }
        }
        .notifications {
            width: 100%;
            .item-container {
                width: 25%;
                .item {
                    &.main {
                        width: 100%;
                    }
                }
            }
            .item {
                &.main {
                    width: 25%;
                    > i {
                        font-size: 180%;
                    }

                    &:first-child {
                        padding-top: 5px;
                    }
                    .number {
                        width: 25px;
                        height: 25px;
                        font-size: 100%;
                        margin-top: -8px;
                    }
                }
            }
        }
        .profile {
            float: right;
            min-width: 0;
            width: auto;

            .user {
                padding: 5px 45px 5px 15px;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 0;
                }
                .text {
                    display: none;
                }
                .arrow {
                    right: 15px;
                }
            }
        }
    }

    .menu-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        transition: transform ease-in-out 0.5s;
        transform: translateX(-100%);
        &.mobile-open {
            transform: translateX(0);
        }
    }

    .menu {
        width: 100%;
        a {
            padding: 10px 7.5px;
        }
    }

    //inside page area
    .breadcrumb {
        width: 100%;
    }

    .tab-container {
        float: left;
        margin-top: 6px;
    }

    //generics

    .generic-search {
        input {
            font-size: 140%;
        }
    }

    .button {
        font-size: 130%;
    }

    .custom-dropdown {
        input {
            padding: 6px 10px;
        }
    }

    .flex-container {
        display: block;
        .flex-item {
            display: block;
            .content-container {
                display: block;
            }

            .button-container {
                position: relative;
                width: 100%;
            }
        }
    }

    .form-field {
        .checkbox-list {
            .checkbox {
                width: 50%;
            }
        }
    }

    .checkbox {
        &.with-subtext {
            padding-left: 0;
            width: 40px;
        }
    }

    .sub-text {
        width: calc(100% - 50px);
    }

    //Filters

    .multi-filters {
        display: block;

        .flex {
            display: block;
            float: left;
            width: 100%;
        }
        .item {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        p {
            float: left;
            text-align: left;
            padding-left: 0;
        }
        .react-datepicker-wrapper {
            .react-datepicker__input-container {
                width: 100%;
            }
            input {
                padding: 7.5px 6px;
            }
        }
    }

    .table-search {
        .generic-search {
            width: 100%;
        }
        .custom-dropdown {
            width: 32%;
        }
        .table-filter {
            width: 100%;
            text-align: left;
            padding-left: 0;
            margin-top: 10px;
            margin-bottom: 2.5px;

            p {
                float: left;
            }
            .custom-dropdown {
                float: left;
            }
        }
        .react-datepicker-wrapper {
            input {
                padding: 7.5px 5px;
            }
            .react-datepicker__input-container {
                width: 100%;
            }
        }
    }
    .content-area {
        padding: 7.5px;
        .tab-container {
            position: relative;
            top: 0;
            right: 0;
            margin-top: -10px;
            margin-bottom: 10px;
            float: left;
        }
    }

    //pie chart
    .stats {
        &.dashboard {
            .pin-key {
                .pin {
                    &:last-child {
                        margin-top: 0;
                    }
                }
            }
        }
        .pin-key {
            padding-right: 0;
            margin-bottom: 0;
            margin-top: 20px;
            .pin {
                width: 50%;
                margin-bottom: 15px;

                &:last-child {
                    width: 100%;
                    margin-top: 0;
                }
                p {
                    &.no-pin {
                        padding-left: 0;
                        padding-top: 10px;
                        text-align: center;
                    }
                }
            }
        }
        .history {
            margin-top: 20px;
        }

        .button-container {
            .button {
                &:nth-child(4) {
                    margin-top: 5px;
                    margin-right: 0;
                }
            }
        }

        &.drawing-stats {
            .history {
                margin-top: 0;
            }
            .pin-key {
                margin-bottom: 0;
            }
        }
    }

    //generate report
    .options-container {
        padding: 10px 0;

        margin-bottom: 10px;
    }
}
