$header-height: 75px;

#frontend-site {
    position: relative;
    color: $very-dark-grey-alt;
    background-color: white;
    @include opensans-regular();
    line-height: 1.5;
    padding-top: $header-height;

    .back-to-top-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px $darker-grey-alt solid;
        padding: 8px 0;
        font-size: 180%;
        background-color: white;
        
        i {
            cursor: pointer;
            color: $very-dark-grey-alt;
        }
    }

    .frontend-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 16px;
    }

    .frontend-header {
        justify-content: space-between;
        border-top: 3px $red-alt solid;
        border-bottom: 3px $red-alt solid;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        height: $header-height;

        .frontend-logo {
            
            img {
                width: 120px;
            }
        }

        .frontend-header-left, .frontend-header-right {
            display: flex;
            align-items: center;
            width: 50%;
        }

        .frontend-header-right {

            .logged-out-button-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .mobile-app-button-container {

                    img {
                        width: 150px;
                        height: 45px;
                    }
                }
            }

            .logged-in-button-container {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .frontend-header-navlinks-container {
            margin-left: 56px;
            font-size: 130%;
            font-weight: 500;

            ul {
                display: flex;

                li {
                    margin-left: 24px;

                    a {
                        color: $new-grey-alt;
                        transition: color 200ms ease-in-out;
                        text-decoration: none;

                        &:hover {
                            color: $red-alt;
                        }

                        &.active {
                            color: $red-alt;
                            padding-bottom: 6px;
                            border-bottom: 2px $red;
                            position: relative;

                            &:after {
                                content: "";
                                background: $red;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 2px;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }

    .heading {
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-top: 105px;

        & > heading, h1 {
            font-size: 40px;
            color: #FFFFFF;
            align-self: center;
        }
        & > p {
            margin: 40px 0 80px 0;
            font-size: 30px;
            color: #FFFFFF;
        }
    }

    .frontend-footer {
        flex-direction: column;
        width: 100%;
        background-color: $very-dark-grey-alt;
        position: relative;
        padding: 26px;

        .frontend-footer-register {
            position: absolute;
            top: 24px;
            right: 26px;
        }
        
        .frontend-footer-logo {
            margin: 0 auto;
            
            img {
                width: 200px;
                height: 75px;
            }
        }

        .frontend-footer-navlinks {
            margin: 8px auto 0;
            font-size: 130%;
            font-weight: 500;

            ul {
                display: flex;

                li {
                    margin-left: 24px;

                    a {
                        color: white;
                        transition: color 200ms ease-in-out;
                        text-decoration: none;

                        &:hover {
                            color: $red-alt;
                        }

                        &.active {
                            color: $red-alt;
                            padding-bottom: 6px;
                            border-bottom: 2px $red;
                            position: relative;

                            &:after {
                                content: "";
                                background: $red;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 2px;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }

        .frontend-footer-copyright {
            position: absolute;
            bottom: 14px;
            left: 26px;
            font-size: 120%;
            color: white;
            max-width: 380px;
        }
    }

    .frontend-button {
        border-radius: 20px;
        padding: 6px 0;
        width: 150px;
        text-align: center;
        font-size: 120%;
        transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

        &.red {
            border: 1px $red-alt solid; 
            background-color: white;
            color: $red-alt;

            &:hover {
                background-color: $red-alt;
                color: white
            }
        }

        &.gray {
            border: 1px $new-grey-alt solid; 
            background-color: white;
            color: $new-grey-alt;

            &:hover {
                background-color: $new-grey-alt;
                color: white
            }
        }

        &.spacing-left {
            margin-left: 16px;
        }

        &.spacing-right {
            margin-right: 16px;
        }

        &.spacing-right-sm {
            margin-right: 8px;
        }

        &.spacing {
            margin: 0 16px;
        }

        &.right {
           float: right;
        }
    }

    .frontend-section-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        
        .line {
            font-size: 200%;
            font-weight: 500;
            position: relative;

            &:after {
                content: "";
                background: $red-alt;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 10%;
            }
        }
    }

    .home-container {

        .home-slides-container {
            width: 100%;
            height: calc(100vh - 75px);
            scroll-snap-type: y proximity;
            scroll-behavior: smooth;
            overflow-y: scroll;

            .home-slides {
                width: 100%;
                height: calc(100vh - 75px);
                position: relative;
                background-repeat: no-repeat;
                background-position: center center;
                scroll-snap-align: start;
                scroll-snap-stop: always;
    
                .overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    background-color: #000000;
                    opacity: 0.3;
                }
    
                .slide-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    bottom: 10vh;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    color: #fff;
                    z-index: 3;
    
                    .slide-title {
                        font-size: 180%;
                        font-weight: 500;
                        margin-bottom: 8px;
                    }
    
                    .slide-description {
                        font-size: 160%;
                        margin-bottom: 12px;
                    }
    
                    .frontend-button  {
                        margin: 0 auto;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    //Trusted by
    .trusted-by-container {
        width: 100%;
        background-color: $light-grey-bg;
        padding: 48px;

        .trusted-by-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;
            max-width: 1200px;
            margin: 0 auto;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                background-color: white;
                max-width: 227px;
                max-height: 227px;


                img {
                    width: 100%;
                    object-fit: scale-down;
                    max-height: 180px;
                }
            }
        }
    }

    // About us section
    #about {

        .frontend-about-info {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            max-width: 1330px;
            margin: 0 auto;
            padding-bottom: 117px;

            h2 {
                margin: 42px 0 18px 0;
                font-size: 35px;
                font-weight: bold;
                color: #444444;
            }
            .divider{
                width: 37px;
                height: 6px;
                background-color: #EB1C24;
                margin-bottom: 18px;
            }

            h3{
                font-size: 25px;
                color: #444444;
                margin-bottom: 37px;
            }

            p {
                color: #888888;
                line-height: 25px;
            }

        }
    }

    // how it works
    #how-it-works {
        .how-it-works-sections {
            margin-bottom: 75px;
        }

        .section {
            max-width: 1500px;
            padding: 75px 20px 0;
            margin: 0 auto;
        }

        .headings-area {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex: 0.23;

                img {
                    width: 116.5px;
                    margin-right: 20px;
                }

                .text {
                    flex: 1;
                }

                h3 {
                    @include opensans-semibold;
                    font-size: 350%;
                }

                .divider {
                    margin: 5px 0;
                    width: 37px;
                    height: 6px;
                    background-color: $red-alt;
                }

                p {
                    font-size: 250%;
                }
            }
        }

        $timeline-grey: #D9D9D9;

        @mixin timeline-line() {
            position: absolute;
            width: 5px;
            left: 50%;
            margin-left: -2.5px;
            background-color: $timeline-grey;
        }

        .timeline {
            min-height: 200px;

            .line-divider {
                @include timeline-line();
                top: 0;
                height: 100%;
            }

            .item-container {
                display: flex;
                margin-top: -50px;

                &:first-child {
                    margin-top: 0;

                    .line-points {
                        .circle {
                            &:first-child {
                                top: 0;
                            }
                        }
                    }
                }

                &:last-child {
                    .line-points {
                        .circle {
                            &:last-child {
                                bottom: 0;
                            }
                        }

                        .line {
                            height: calc(100% - 24px);
                        }
                    }
                }

                &:nth-child(even) {
                    justify-content: flex-end;
                }

                .item {
                    display: flex;
                    flex: 0.45;
                    z-index: 1;
                    opacity: 0.5;
                    transition: opacity 0.3s;
                }

                .line-points {
                    @include timeline-line();
                    top: 0;
                    height: 100%;

                    .line {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 100%;
                        height: calc(100% - 36px);
                    }

                    .circle {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        left: -5px;
                        background-color: $timeline-grey;
                        border-radius: 50%;

                        &:first-child {
                            top: 10px;
                        }

                        &:last-child {
                            bottom: 24.5px;
                        }
                    }
                }

                &.active {
                    .line-points {
                        z-index: 1;

                        .line {
                            background-color: $red-alt;
                        }

                        .circle {
                            background-color: $red-alt;
                        }
                    }

                    .item {
                        opacity: 1;
                    }
                }
            }

            .number, h4 {
                @include opensans-bold;
            }

            .number {
                font-size: 260%;
            }

            .icon {
                width: 62px;
                height: 62px;
                margin: 10px 20px 0;
            }

            h4, p {
                font-size: 180%;
                line-height: 2;
            }

            .divider {
                margin: 10px 0;
                width: 30px;
                height: 5px;
                background-color: $red-alt;
            }
        }
    }

    // Contact page
    #contact {        
        .contact-background {
           position: absolute;
           background-color: #3C3C3C;
           height: 100%;
           width: 100%;
    
        }
        
        .contact-background-video {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.09;
            object-fit: fill;
        }

        .contact-form-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
                    
            .contact-form {
              margin: 0 143px 166px 0;
              color: #FFFFFF;
              flex: 1;
              max-width: 610px;
            
                & label {
                    font-size: 18px;
                    font-weight: normal;
                }

              .recaptcha-wrapper {
                display: flex;
                justify-content: flex-end;
                margin: 8px 0 4px 0;

               + .error {
                    text-align: right;
                }
              }
          }

        }

        .contact-section {
            display: flex;
            justify-content: center;
        }
        
        .contact-info-wrapper {
            display: flex;
            flex-direction: column;

            & > p {
                color: #FFFFFF;
                margin-bottom:  35px;
                line-height: 1.3;
                font-size: 18px;
                
            & > a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
            strong {
            @include opensans-semibold();
        }

        .social-link-container {
            display: flex;
            margin-bottom: 29px;
            align-items: center;
            text-decoration: none;

            &:hover{
                text-decoration: underline white;
            }
            
            & > div {
                font-size: 18px;
                color: #FFFFFF;
            }
            
            .contact-icons {
            margin-right: 24px;
            }
          }
        }

        .sent-message-wrapper {
            display: flex;
            margin-right: 80px;

            & > p {
                color: #ffffff;
                font-size: 18px;
            }
        }
    }

    //why use our system page
    #why-use-our-system {

        .page-divider {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 190px;
            width: 100%;
            background-color: #ffffff;
            
            & > h2 {
                font-size: 35px;
                font-weight: bold;
            }
            .divider{
                width: 37px;
                height: 6px;
                background-color: #EB1C24;
                margin: 19px
            }
            
            & > p {
                font-size: 25px;
            }

            &.grey {
                background-color: #f5f5f5;
            }
        }
        .our-system-list-wrapper {
            background-color: #f5f5f5;
            width: 100%;
        }

        .info-card-list-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
            padding-bottom: 45px;
        }

        .info-card-wrapper {
            width: 33%;
            padding: 0 15px 0 15px; 
        }

        .info-card {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 362px;
           background-color: white;
           border-radius: 20px;
           margin: 100px 0 10px 0;

           &.clickable {
               cursor: pointer;
           }

           .plus-icon {
               position: absolute;
               top: 12px;
               right: 12px;
           }

           .icon-wrapper {
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -70px;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: white;
               
            .icon {
               width: 100px;
            }
        }

        .title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            & > h2 {
                font-color: #444444;
                font-size: 26px;
                @include opensans-bold;
            }

            .divider{
                width: 37px;
                height: 6px;
                background-color: #EB1C24;
                margin: 19px
            }
        }
               
        }

        //cloud list
        .cloud-list-container {
            padding: 75px 0;
            background-color: #f5f5f5;

            .cloud-list {
                max-width: 1920px;
                margin: 0 auto;
            }

            .bolster-cloud-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .bolster-cloud {
                width: 40%;
                max-width: 734px;
                margin-top: -100px;
            }

            .list-wrapper {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;

                .info-card {
                    &:nth-child(2), &:nth-child(5) {
                        margin-top: 100px;
                    }
                }

                &.top {
                    .info-card {
                        &:nth-child(1), &:nth-child(6) {
                            margin-top: 200px;
                        }
                    }
                }

                &.bottom {
                    margin-top: 100px;

                    .info-card {
                        &:nth-child(3), &:nth-child(4) {
                            margin-top: 200px;
                        }
                    }
                }
            }

            .info-card {
                flex: 1;
                margin: 0 18px;
            }

            .icon-wrapper {
                width: 100px;
                height: 100px;
                margin-top: -50px;

                .icon {
                    width: 75px;
                }
            }

            .title-wrapper {
                h2 {
                    font-size: 200%;
                    @include opensans-semibold;
                }
            }
        }
    }

    // banners
    .frontend-banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: black;
        height: calc(100vh - #{$header-height});

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.55;
            object-fit: fill;
        }

        .content {
            width: 100%;
            max-width: 1630px;
            margin: 0 auto 5%;
            padding: 0 30px;
            color: white;
        }

        h1 {
            font-size: 350%;
            @include opensans-bold;
        }

        p {
            margin-top: 10px;
            font-size: 250%;
            line-height: 1.75;
        }

        .arrow {
            position: absolute;
            width: 24.5px;
            margin-left: -12.25px;
            height: 15px;
            left: 50%;
            bottom: 15px;
            opacity: 0.5;
        }
    }
}

// Auth area

//Log in page
#login {
}
.auth-background {
    position: absolute;
    background-color: #3C3C3C;
    height: 100%;
    width: 100%;

 }     
 .auth-background-video {
     position: absolute;
     height: 100%;
     width: 100%;
     opacity: 0.09;
     object-fit: fill;
 }
 .auth-wrapper {
    display: flex;

    .heading-body-wrapper{
        display: flex;
        flex-direction: column;
        margin: 104px 200px 0 143px;

        .auth-heading {
            font-size: 40px;
            @include opensans-semibold;
            color: white;
        }
        
        & > p {
            color: white;
            font-size: 30px;
            max-width: 1066px;
            margin-bottom: 40px;
        }
    }
}

// Front end form styles
.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 527px;
    height: 100vh;
    background-color: white;

}

.auth-form-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    
    & > h2 {
        @include opensans-semibold;
        font-size: 40px; 
        color: black;
        margin: 30px 0;
    }
    & > p {
        font-size: 30px;
        color: #888888
    }

}
.auth-form-field {
    width: 445px;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;

    & .title{
        font-size: 18px;
        color: #444444;
        font-weight: normal;
    }
    
    .auth-text-input-container {
        background-color: #e8e8e8;
        border: none;
        height: 44px;
        
    }

    & > .frontend-button {
        align-self: flex-end;
    }
}

// Front end Modal  
.frontend-modal-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1000;

            
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: black;
                opacity: 0.35;
            }
                   
            .frontend-modal-block {
                max-height: 90%;
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 50%;
                width: 733px;
                overflow: visible;
        
                & h2 {
                    font-size: 20px;
                    @include opensans-bold;
                }

                .modal-description{
                    font-size: 16px;
                }
        
                .block-heading {
                    .heading {
                        max-width: 100%;
                    }
                }
        
                .label-field {
                    padding-top: 10px;
                    padding-bottom: 8px;
                    
                    .form-field {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    
                    &:nth-child(even) {
                        background-color: $background-grey;
                        .generic-input {
                            background-color: white;
                        }
                    }
        
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        
            .content-container {
                height: 100%;
                width: 100%;
                min-width: 35%;
                padding: 0;
                
                .content-area {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    min-width: 100%;
                    margin-bottom: 0;
                    padding: 0 52px 52px 52px;
                }

            }
            
            .divider{
                width: 37px;
                height: 6px;
                background-color: #EB1C24;
                margin: 24px 24px 24px 0;
            }

            .icon-wrapper {
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -70px;
                border-radius: 50%;
                background-color: white;
                width: 125px; 
                height: 125px;                  
                
                .icon {
                   max-width: 90px;
                }
            }    

            .close {
                position: absolute;
                top: 12px;
                right: 12px;
                color: $button-grey;
                font-size: 150%;
                z-index: 2;
                cursor: pointer;
                background: transparent;
                transform: rotate(45deg);
            }
               
            .react-datepicker-popper {
                position: relative !important;
                margin-top: 0 !important;
            }
}
