#frontend-site {
    color: $very-dark-grey-alt;
    background-color: white;
    @include opensans-regular();
    line-height: 1.5;

    .back-to-top-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px $darker-grey-alt solid;
        padding: 8px 0;
        font-size: 180%;
        
        i {
            cursor: pointer;
        }
    }

    .frontend-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 16px;
    }

    .frontend-header {
        justify-content: space-between;
        border-top: 3px $red-alt solid;
        border-bottom: 3px $red-alt solid;

        .frontend-logo {
            
            img {
                width: 120px;
            }
        }

        .frontend-header-left, .frontend-header-right {
            display: flex;
            align-items: center;
            width: 50%;
        }

        .frontend-header-right {

            .logged-out-button-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .mobile-app-button-container {

                    img {
                        width: 150px;
                        height: 45px;
                    }
                }
            }

            .logged-in-button-container {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .frontend-header-navlinks-container {
            margin-left: 56px;
            font-size: 130%;
            font-weight: 500;

            ul {
                display: flex;

                li {
                    margin-left: 24px;

                    a {
                        color: $new-grey-alt;
                        transition: color 200ms ease-in-out;
                        text-decoration: none;

                        &:hover {
                            color: $red-alt;
                        }

                        &.active {
                            color: $red-alt;
                            padding-bottom: 6px;
                            border-bottom: 2px $red;
                            position: relative;

                            &:after {
                                content: "";
                                background: $red;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 2px;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }

    .frontend-footer {
        flex-direction: column;
        width: 100%;
        background-color: $very-dark-grey-alt;
        position: relative;
        padding: 26px;

        .frontend-footer-register {
            position: absolute;
            top: 24px;
            right: 26px;
        }
        
        .frontend-footer-logo {
            margin: 0 auto;
            
            img {
                width: 200px;
                height: 75px;
            }
        }

        .frontend-footer-navlinks {
            margin: 8px auto 0;
            font-size: 130%;
            font-weight: 500;

            ul {
                display: flex;

                li {
                    margin-left: 24px;

                    a {
                        color: white;
                        transition: color 200ms ease-in-out;
                        text-decoration: none;

                        &:hover {
                            color: $red-alt;
                        }

                        &.active {
                            color: $red-alt;
                            padding-bottom: 6px;
                            border-bottom: 2px $red;
                            position: relative;

                            &:after {
                                content: "";
                                background: $red;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 2px;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }

        .frontend-footer-copyright {
            position: absolute;
            bottom: 14px;
            left: 26px;
            font-size: 120%;
            color: white;
            max-width: 380px;
        }
    }

    .frontend-button {
        border-radius: 20px;
        padding: 6px 0;
        width: 150px;
        text-align: center;
        font-size: 120%;
        transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

        &.red {
            border: 1px $red-alt solid; 
            background-color: white;
            color: $red-alt;

            &:hover {
                background-color: $red-alt;
                color: white
            }
        }

        &.gray {
            border: 1px $new-grey-alt solid; 
            background-color: white;
            color: $new-grey-alt;

            &:hover {
                background-color: $new-grey-alt;
                color: white
            }
        }

        &.spacing-left {
            margin-left: 16px;
        }

        &.spacing-right {
            margin-right: 16px;
        }

        &.spacing-right-sm {
            margin-right: 8px;
        }

        &.spacing {
            margin: 0 16px;
        }

        &.right {
           float: right;
        }
    }

    .frontend-section-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        
        .line {
            font-size: 200%;
            font-weight: 500;
            position: relative;

            &:after {
                content: "";
                background: $red-alt;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 10%;
            }
        }
    }

    //Trusted by
    .trusted-by-container {
        width: 100%;
        background-color: $light-grey-bg;
        padding: 48px;

        .trusted-by-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;
            max-width: 1200px;
            margin: 0 auto;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                background-color: white;
                max-width: 227px;
                max-height: 227px;


                img {
                    width: 100%;
                    object-fit: scale-down;
                    max-height: 180px;
                }
            }
        }
    }

    // About us section
    #about {

        .frontend-about-info {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            max-width: 1330px;
            margin: 0 auto;
            padding-bottom: 117px;

            h2 {
                margin: 42px 0 18px 0;
                font-size: 35px;
                font-weight: bold;
                color: #444444;
            }
            .divider{
                width: 37px;
                height: 6px;
                background-color: #EB1C24;
                margin-bottom: 18px;
            }

            h3{
                font-size: 25px;
                color: #444444;
                margin-bottom: 37px;
            }

            p {
                color: #888888;
                line-height: 25px;
            }

        }
    }

    // how it works
    #how-it-works {
        .section {
            max-width: 1500px;
            padding: 75px 20px 0;
            margin: 0 auto;
        }

        .headings-area {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex: 0.23;

                img {
                    width: 116.5px;
                    margin-right: 20px;
                }

                .text {
                    flex: 1;
                }

                h3 {
                    @include opensans-semibold;
                    font-size: 350%;
                }

                .divider {
                    margin: 5px 0;
                    width: 37px;
                    height: 6px;
                    background-color: $red-alt;
                }

                p {
                    font-size: 250%;
                }
            }
        }

        $timeline-grey: #D9D9D9;

        .timeline {
            min-height: 200px;

            .line {
                position: absolute;
                top: 0;
                left: 50%;
                width: 5px;
                height: 100%;
                margin-left: -2.5px;
                background-color: $timeline-grey;
            }

            .item-container {
                display: flex;

                &:nth-child(even) {
                    justify-content: flex-end;
                }

                .item {
                    display: flex;
                    flex: 0.45;
                }
            }

            .number, h4 {
                @include opensans-bold;
            }

            .number {
                font-size: 260%;
            }

            .icon {
                width: 62px;
                height: 62px;
                margin: 10px 20px 0;
            }

            h4, p {
                font-size: 180%;
                line-height: 2;
            }

            .divider {
                margin: 10px 0;
                width: 30px;
                height: 5px;
                background-color: $red-alt;
            }
        }
    }

    // Contact page
    #contact {        
        .contact-background {
            position: absolute;
            width: 100%;
            height: 100%;
            // background-image: url('../../_content/images/frontend-new/contact-background-image.png');
            background-color: grey;
            opacity: 1;
        }

        .contact-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            .contact-heading {
                justify-self: center;
                align-self: center;
                display: flex;
                flex-direction: column;
                margin-top: 105px;
    
                & > heading, h1 {
                    font-size: 40px;
                    color: #FFFFFF;
                    align-self: center;
                }
                & > p {
                    margin: 40px 0 80px 0;
                    font-size: 30px;
                    color: #FFFFFF;
                }
            }
  
            .contact-form {
              margin: 0 143px 166px 0;
              color: #FFFFFF;
              flex: 1;
              max-width: 610px;

              .recaptcha-wrapper {
                display: flex;
                justify-content: flex-end;
                margin: 8px 0 4px 0;
              }
          }

        }

        .contact-section {
            display: flex;
            justify-content: center;
        }
        
        .contact-info-wrapper {
            display: flex;
            flex-direction: column;

            & > p {
                color: #FFFFFF;
                margin-bottom:  35px;
                line-height: 1.3;
                font-size: 18px;
                
            & > a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
            strong {
            font-weight: bold;
        }

        .social-link-container {
            display: flex;
            margin-bottom: 29px;
            align-items: center;
            text-decoration: none;

            &:hover{
                text-decoration: underline white;
            }
            
            & > div {
                font-size: 18px;
                color: #FFFFFF;
            }
            
            .contact-icons {
            margin-right: 24px;
            }
          }
        }
    }
}