@import "_content/scss/reset.scss";
@import "_content/scss/variables.scss";

//layouts
body {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    @include ubuntu;
    background-color: #212228;
    color: $body-text;
    line-height: 1.35;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
#page-area {
    float: left;
    width: 100%;
    padding: 10px 0;
}
.content-area {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px 15px;
    .title {
        color: black;
    }
}
//generics
input {
    @include ubuntu;
}

.generic-search {
    float: left;
    width: 100%;
    background-color: $background-grey;
    @include rounded-all(3px);

    .search-icon {
        position: absolute;
        left: 10px;
        @include vertical-center;
        color: #939393;
        font-size: 150%;
    }

    input {
        width: 100%;
        padding: 6px 10px 6px 35px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 160%;
        color: #8f8f8f;
    }

    input::placeholder {
        color: #8f8f8f;
    }
}

//buttons
.button {
    display: inline-block;
    padding: 5px 15px;
    background-color: $button-grey;
    color: white;
    text-decoration: none;
    font-size: 120%;
    transition: 0.2s background-color;

    &:hover {
        background-color: #757373;
    }
}

//header
#page-header {
    height: 69px;
    border: 4px solid #16a6e2;
    border: {
        left: none;
        right: none;
    }

    .container {
        height: 100%;
    }

    //logo
    .logo {
        float: left;
        width: 194px;

        a {
            float: left;
            width: 100%;
            padding: 10px;
            text-align: center;
        }

        img {
            height: 39px;
            max-width: 100%;
        }
    }

    //search
    .search-area {
        float: left;
        width: 255px;
        margin-top: 15px;
    }

    //account area
    .account-area {
        float: right;
        height: 100%;
    }

    //notifications
    .notifications {
        float: left;
        height: 100%;

        > .item {
            float: left;
            width: 60px;
            height: 100%;
            cursor: pointer;
            transition: 0.2s background-color;

            > i {
                position: absolute;
                font-size: 240%;
                @include content-center;
            }

            &:hover {
                background-color: #f4f3f3;
            }
        }

        //list
        .notification-list {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            width: 335px;
            background-color: #f4f3f3;

            .item {
                float: left;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid #a6a6a6;

                &:last-child {
                    border-bottom: none;
                }
            }

            p {
                float: left;
                width: calc(100% - 75px);
                color: #939393;
                font-size: 120%;
            }

            .button {
                float: right;
            }
        }
    }

    //profile
    .profile {
        float: left;
        color: #757575;
        background-color: $background-grey;

        //user details
        .user {
            float: left;
            width: 100%;
            max-height: 61px;
            padding: 10px 50px 10px 15px;
            cursor: pointer;

            img {
                float: left;
                width: 41px;
                margin-right: 15px;
                @include rounded-all(50%);
            }

            .text {
                float: left;

                p {
                    @include ubuntu-medium;
                    font-size: 160%;
                }

                .email {
                    font-size: 140%;
                }
            }

            .arrow {
                position: absolute;
                right: 15px;
                @include vertical-center;
                font-size: 160%;
            }
        }

        //options
        .options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: inherit;

            a {
                color: #757575;
                text-decoration: none;
                transition: 0.2s background-color;

                &.active,
                &:hover {
                    background-color: #ececec;
                }
            }

            .item {
                float: left;
                width: 100%;
                padding: 12px 15px;
                @include ubuntu-medium;
                font-size: 140%;
                border-top: 1px solid #c6c6c6;

                .icon {
                    position: absolute;
                    right: 15px;
                    @include vertical-center;
                }
            }
        }
    }
}

.title {
    font-size: 220%;
    @include ubuntu;
    color: white;
    margin-bottom: 20px;
}

form,
.form {
}
