@import "_content/scss/reset.scss";
@import "_content/scss/variables.scss";

body {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
