//colours
$background-grey: #e1e1e1;
$body-text: #212228;
$button-grey: #939393;
$red: #d71a1a;
$light-grey: #f5f5f5;
$dark-grey: #4e4e4e;
$text-grey: #8f8f8f;
$blue: #16a6e2;
$light-blue: #d9f4ff;
$yellow: #e89901;
$green: #2eac58;
$input-border-grey: #cccccc;
$mobile-grey: #b9b9b9;

//frontend colours
$black-alt: #1d1d1b;
$grey-alt: #888;
$light-grey-alt: #e6e6e6;
$red-alt: #e20613;
$dark-grey-alt: #808080;
$background-color: #212228;
$new-grey-alt: #808080;
$very-dark-grey-alt: #444444;
$light-grey-bg: #F8F8F8;
$darker-grey-alt: #707070;

//timeline colours
$timeline-green: #2EAC58;
$timeline-yellow: #EFC206;
$timeline-red: #E20612;

//pin-tasks-colors
$recurring-blue: #42C8FF;
$non-recurring-purple: #7B61FF;
$complete-green: #34C759;
$complete-late-yellow: #FFE27A;
$due-soon-orange: #FF9500;
$incomplete-red: #FF3B30;

//fonts
@mixin ubuntu() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 400;
    }
}


@mixin ubuntu-medium() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 500;
    }
}

//frontend fonts
@mixin SF-Pro-Text-bold() {
    font: {
        family: "SF Pro Text", sans-serif;
        weight: 700;
    }
}

@mixin neosans-medium() {
    font: {
        family: "Neo Sans W01 Medium", sans-serif;
    }
}

@mixin neosans-bold() {
    font: {
        family: "Neo Sans W01 Bold", sans-serif;
    }
}

@mixin neosans() {
    font: {
        family: "Neo Sans W01", sans-serif;
    }
}

@mixin roboto() {
    font: {
        family: "Roboto", sans-serif;
    }
}

@mixin opensans-light() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@mixin opensans-regular() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin opensans-semibold() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@mixin opensans-bold() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin swiss721-roman() {
    font: {
        family: "Swiss_721 W01 Roman", sans-serif;
    }
}
@mixin swiss721-medium() {
    font: {
        family: "Swiss_721 W01 Medium", sans-serif;
    }
}
//vertical centered content
@mixin vertical-center() {
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//horizontal centered content
@mixin horizontal-center() {
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

//center content
@mixin content-center() {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//rounded corners
@mixin rounded-all($radius: 5px) {
    border-radius: $radius;
}

//rounded top
@mixin rounded-top($radius: 5px) {
    border-radius: $radius $radius 0 0;
}

//rounded bottom
@mixin rounded-bottom($radius: 5px) {
    border-radius: 0 0 $radius $radius;
}

// dropdown popup
@mixin dropdown-popup() {
    z-index: -1;
    opacity: 0;
    top: 0;
    transition: 0.2s opacity, 0.2s top;

    &.visible {
        z-index: 1000;
        opacity: 1;
        top: 100%;
    }
}

// z-indexes
$leaflet-z-index: 400;

//box-shadows
$box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

// media queries
@mixin screenSize($size) {
    @if $size == lgDesktop {
        // large desktop
        @media only screen and (max-width: 1599px) {
            @content;
        }
    } @else if $size == mdDesktop {
        // medium desktop
        @media only screen and (max-width: 1279px) {
            @content;
        }
    } @else if $size == smDesktop {
        // small desktop
        @media only screen and (max-width: 1099px) {
            @content;
        }
    } @else if $size == lsTablet {
        // landscape tablet
        @media only screen and (max-width: 1023px) {
            @content;
        }
    } @else if $size == ptTablet {
        // portrait tablet
        @media only screen and (max-width: 800px) {
            @content;
        }
    } @else if $size == lgMobile {
        // large mobile
        @media only screen and (max-width: 767px) {
            @content;
        }
    } @else if $size == mdMobile {
        // medium mobile
        @media only screen and (max-width: 479px) {
            @content;
        }
    } @else if $size == smMobile {
        // small mobile
        @media only screen and (max-width: 413px) {
            @content;
        }
    } @else {
        // custom size
        @media only screen and (max-width: $size) {
            @content;
        }
    }
}

// css variables
:root {
    // originals (to be removed after light/dark theme work)
    --background-color: #212228;

    // from palette (designs)
    --bolster-primary: #ED1C24;
    --primary-default: #3364DD;
    --primary-hover: #0047FF;
    --primary-pressed: #2147A8;
    --primary-disabled: #27438D;
    --positive-default: #2DAC57;
    --positive-hover: #36C967;
    --positive-pressed: #268D48;
    --positive-disabled: #36C967;
    --negative-default: #F91F2B;
    --negative-hover: #B22724;
    --negative-pressed: #B22724;
    --negative-disabled: #B22724;
    --background-default: #FAFAFA;
    --background-container: #FFFFFF;
    --background-stroke: #F2F2F2;
    --navigation-primary: #FFFFFF;
    --navigation-secondary: #F1F1F3;
    --typography-default: #212227;
    --typography-greyed-out: #AAACB1;
    --input-default: #FFFFFF;
    --pin-installed: #2DAC57;
    --pin-action-required: #B22724;
    --pin-inspected: #3364DD;
    --pin-no-action: #EFC206;
    --pin-other: #990099;

    // others not in palette (designs)
    // --input-default:  #E5E5E5;
    --input-secondary:  rgba(229, 229, 229, 0.25);
    --tools-background: #0000001A;
    --hover-primary: #F1F1F3;

    // text 
    --dropdown-text: #F9FAFA;

    // fixed colours (not to be changed with dark theme)
    --fixed-input-button-light: #AAACB1;

    //sizings
    --nav-width: 170px;

    //calendar
    --calendar-negative: #d10000;
    --calendar-greyed-out: #757575;
}

// dark theme variable overrides
[data-theme="dark"] {
    // from palette (designs)
    --background-default: #212227;
    --background-container: #2F3037;
    --background-stroke: #494C5B;
    --navigation-primary: #3A3C45;
    --navigation-secondary: #525461;
    --input-default: #525461;
    --typography-default: #F9FAFA;
       
    //calendar
    --calendar-negative: #fc5c64;
    --calendar-greyed-out: #969696;

    //others
    --hover-primary: #3A3C45;
}