//colours
$background-grey: #e1e1e1;
$body-text: #212228;
$button-grey: #939393;
$red: #d71a1a;
$light-grey: #f5f5f5;
$dark-grey: #4e4e4e;
$text-grey: #8f8f8f;
$blue: #16a6e2;
$light-blue: #d9f4ff;
$yellow: #e89901;
$green: #2eac58;
$input-green: #2DAC57;
$input-border-grey: #cccccc;
$input-grey-low-opacity:  rgba(229, 229, 229, 0.25);
$input-grey:  #E5E5E5;
$mobile-grey: #b9b9b9;

//frontend colours
$black-alt: #1d1d1b;
$grey-alt: #888;
$light-grey-alt: #e6e6e6;
$red-alt: #e20613;
$dark-grey-alt: #808080;
$background-color: #212228;
$new-grey-alt: #808080;
$very-dark-grey-alt: #444444;
$light-grey-bg: #F8F8F8;
$darker-grey-alt: #707070;

//timeline colours
$timeline-green: #2EAC58;
$timeline-yellow: #EFC206;
$timeline-red: #E20612;

//pin-tasks-colors
$recurring-blue: #42C8FF;
$non-recurring-purple: #7B61FF;
$complete-green: #34C759;
$complete-late-yellow: #FFE27A;
$due-soon-orange: #FF9500;
$incomplete-red: #FF3B30;

//fonts
@mixin ubuntu() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 400;
    }
}


@mixin ubuntu-medium() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 500;
    }
}

//frontend fonts
@mixin SF-Pro-Text-bold() {
    font: {
        family: "SF Pro Text", sans-serif;
        weight: 700;
    }
}

@mixin neosans-medium() {
    font: {
        family: "Neo Sans W01 Medium", sans-serif;
    }
}

@mixin neosans-bold() {
    font: {
        family: "Neo Sans W01 Bold", sans-serif;
    }
}

@mixin neosans() {
    font: {
        family: "Neo Sans W01", sans-serif;
    }
}

@mixin roboto() {
    font: {
        family: "Roboto", sans-serif;
    }
}

@mixin opensans-light() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@mixin opensans-regular() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin opensans-semibold() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@mixin opensans-bold() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin swiss721-roman() {
    font: {
        family: "Swiss_721 W01 Roman", sans-serif;
    }
}
@mixin swiss721-medium() {
    font: {
        family: "Swiss_721 W01 Medium", sans-serif;
    }
}
//vertical centered content
@mixin vertical-center() {
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//horizontal centered content
@mixin horizontal-center() {
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

//center content
@mixin content-center() {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//rounded corners
@mixin rounded-all($radius: 5px) {
    border-radius: $radius;
}

//rounded top
@mixin rounded-top($radius: 5px) {
    border-radius: $radius $radius 0 0;
}

//rounded bottom
@mixin rounded-bottom($radius: 5px) {
    border-radius: 0 0 $radius $radius;
}

// z-indexes
$leaflet-z-index: 400;

//box-shadows
$box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

// css variables
:root {
    --background-color: #212228;
    --primary-default: #3364DD;
    --primary-hover: #0047FF;
    --primary-pressed: #2147A8;
    --primary-disabled: #27438D;
    --positive-default: #2DAC57;
    --positive-hover: #36C967;
    --positive-pressed: #268D48;
    --positive-disabled: #36C967;
    --background-default: #FAFAFA;
    --background-container: #FFFFFF;
    --background-stroke: #F2F2F2;
}

// dark theme overrides
[data-theme="dark"] {
    --background-color: #212228;
    --background-default: #212227;
    --background-container: #2F3037;
    --background-stroke: #494C5B;
}