//colours
$background-grey: #e1e1e1;
$body-text: #212228;
$button-grey: #939393;
$red: #d71a1a;
$light-grey: #f5f5f5;
$dark-grey: #4e4e4e;
$text-grey: #8f8f8f;
$blue: #16a6e2;
$yellow: #e89901;
$green: #2eac58;
$input-border-grey: #cccccc;
$black-alt: #1d1d1b;

//fonts
@mixin ubuntu() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 400;
    }
}

@mixin ubuntu-medium() {
    font: {
        family: "Ubuntu", sans-serif;
        weight: 500;
    }
}

@mixin neosans-medium() {
    font: {
        family: "Neo Sans W01 Medium", sans-serif;
    }
}

@mixin neosans-bold() {
    font: {
        family: "Neo Sans W01 Bold", sans-serif;
    }
}

@mixin neosans() {
    font: {
        family: "Neo Sans W01", sans-serif;
    }
}

//vertical centered content
@mixin vertical-center() {
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//horizontal centered content
@mixin horizontal-center() {
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

//center content
@mixin content-center() {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//rounded corners
@mixin rounded-all($radius: 5px) {
    border-radius: $radius;
}

//rounded top
@mixin rounded-top($radius: 5px) {
    border-radius: $radius $radius 0 0;
}

//rounded bottom
@mixin rounded-bottom($radius: 5px) {
    border-radius: 0 0 $radius $radius;
}
